{% extends "blog/base.html" %}
{% load  staticfiles %}
{% block content %}


		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">关 于</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src='{% static "blog/img/me.jpg" %}' alt="Developer Image">
								</figure>
								<p>关于我：</p>
								<p>我叫徐立辰，非科班出身，初学Python及Django。根据书籍资料及网络教程，几经波折，终于搭建完成并在腾讯云上部署该博客。
									希望通过查阅Django的文档及源码，在web的开发开发上更进一步，也能把博客的功能再往外拓展开来。<br>
								</p><br>
								<p>爱好：</p>
								<p>美剧，篮球，Dota(已戒，11坑爹)  /(ㄒoㄒ)/~~</p><br>
								<p>联系方式：</p>
								<p>邮箱: 306084800@qq.com</p>
								<p>Github: https://github.com/xulichen</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
									<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="full-width.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="js/script.js"></script>
		
	</body>
</html>
{% endblock %}
